extends layout
block content

  header
    h1 SERVAL

      section.page
        div.container
          div.row
            img.head(src = "images/serval1.jpg")

        div.pageHero
        h2.tag Always forward
          div.newProject
            form(action='/create-project', method='post')
              input#user_submission(name='project', type='text' placeholder='Enter Task Name')
              button Add Task

  div.project_list
    h1.catch Never backwards.
    ul
      each house, index in houses
        div.grid
          div.flex-container
            div.grid-cell.up
                if index !== 0
                  form(action=`/up/${house.id}` method='post')
                      button &#8593;
                if index == 0
                  div.hide



          div.Grid--gutters
          div.flex-container
            div.grid-cell.down
                if index !== houses.length-1
                  form(action=`/down/${house.id}` method='post')
                      button &#8595;
                if index == houses.length-1
                  div.hide

          div.Grid--gutters
            div.grid-cell.list
              li= house.project_name

          div.Grid--gutters
            div.grid-cell.editbox
              form(action='/updateName/' + house.id method='post')
                input#updatedProject(name='editedName', placeholder=house.project_name)


          div.Grid--gutters
            div.grid-cell.check
              form(action='/completed/' + house.id method='post')
                  input#completed(name='completed' type="checkbox" checked=house.completed)
                  button.grid-cell.complete Save Task Status

          div.Grid--gutters
            div.grid-cell.update

          div.Grid--gutters
            div.grid-cell.delete
              form(action='/delete/' + house.id, method='post')
                button.delete X
