extends layout
block content

  h1
  p Welcome to
  form(action='/create-project', method='post')
    input#user_submission(name='project', placeholder='Enter Project Name')
    button Submit
  .project_lists

    ul
      each house, index in houses
        li= house.project_name
          form(action='/delete/' + house.id, method='post')
            button X
          form(action='/updateName/' + house.id method='post')
            input#updatedProject(name='editedName', placeholder=house.project_name)
            button edit
          form(action='/completed/' + house.id method='post')
              input#completed(name='completed' type="checkbox" checked=house.completed)
              button update
          if index !== 0
            form(action=`/up/${house.id}` method='post')
                input#up(name='up', type='button')
                button UP
          if index !== houses.length-1
            form(action=`/down/${house.id}` method='post')
                //- input#down`(name='' type='' checked=house.)
                button Down
